* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.scoreboard {
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-grow: 1;
    align-items: center;
    padding: 2em;
}

.team {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
}

.team-box {
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 1em;
    width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-name {
    font-size: 4vw; /* Responsive font size */
    margin-bottom: 0.5em;
    color: #333;
}

.team-score {
    font-size: 15vw; /* Responsive font size */
    font-weight: bold;
    color: #333;
}

footer {
    width: 100%;
    text-align: center;
    padding: 1em 0;
    background-color: #f8f8f8;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    max-height: 50px;
    width: auto;
}


